<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="context-path" th:content="@{/}"/>
    <title>VeloChat</title>
    <!-- Common script -->
    <th:block th:include="common/include-script"></th:block>
</head>
<body>

<div class="wrapper">
    <!-- Side Bar -->
    <nav th:replace="common/common-sidebar"></nav>
    <div id="content">
        <!-- Page Header -->
        <header th:replace="common/common-header"></header>

        <!-- Main Content -->
        <div th:replace="${template}"></div>

        <hr>

        <!-- Footer -->
        <footer th:replace="common/common-footer"></footer>
    </div>
</div>
</body>
</html>